body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0;
    gap: 1rem;
}

.title {
    width: 100%;
    text-align: center;
}

.option {
    width: 15rem;
    height: 3rem;
    background-color: orange;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.2rem #000000;
    color: white;
}

.text {
    font-size: 2rem;
}



.hide {
    display: none;
}


